[
    {
        "scope": "https://api.themoviedb.org:443",
        "method": "GET",
        "path": "/3/search/multi?api_key=b655dfd5dba228ff61cafdceff6048f6&query=gintama&include_adult=true",
        "body": "",
        "status": 200,
        "response": [
            "d140cd00207f35adf7747dc621214c4396a34248bbfbff540b5ad022b486066990a3348e299cee66e369fdffe63e2d1458c8fa35fa9f5a20b76e4f8dba6f6672ce649385cf9305a64ccaac8040114852ed57bec0b2954951a92f64955c6164b73193ef1ea021637936da7bbd5738608f0865240a1dba70a1fcf0bd02112d819c52e80d14c81b285e55280b6f4373bf1d55d255b26defdbfdadb1f152d6999dc761baaa0a111605caab1bea2ef2e591222a96880c51d545cbb444a4bd220ad415caba62e8a6260ad098373bdd3842594043a9200a94b16f603d41280b7bfc4b56e7e051425968d138c5112ec38625ad260b28[...]
    {
        "scope": "https://api.themoviedb.org:443",
        "method": "GET",
        "path": "/3/tv/57041?api_key=b655dfd5dba228ff61cafdceff6048f6",
        "body": "",
        "status": 200,
        "response": [
            "c110700020573aab289deabb7b94bd43c2cc4892796b4b351678651889bdf23f871fe514c49f6577df7eedae1d2a2192226fe77fac41844669fc9df98b99a53b5f4c924693249a21244bd622a5cd43dcc04ec6a8f3d6da9fe0a155bf52b788df82052fba51d9ef9dc3c07b240b6336ecf78a79fa3c0f76ed9d39cb870605e8f8baa71aacd737[...]
    {
        "scope": "https://api.themoviedb.org:443",
        "method": "GET",
        "path": "/3/tv/57041/season/0?api_key=b655dfd5dba228ff61cafdceff6048f6",
        "body": "",
        "status": 200,
        "response": [
            "d1a88f0020fffb9b7d5fbff764c53add08da3f2a3e4a7da5e702a1e451488784ca93abfd7e3f22d66884cc50e21783261a4543db7b828abd432d69728fae493455889a394487b8a227afc22c683b7fae6fe4a832d2232e77c30085eb7b544ae1781e4b58e23a0ee91054cdb1dfc1a4470cadec130d9f04251d32315332a4f7cf374[...]
    {
        "scope": "https://kitsu.io:443",
        "method": "GET",
        "path": "/api/edge/anime?filter%5Btext%5D=Seitokai%20Yakuindomo%EF%BC%8A&include=mappings",
        "body": "",
        "status": 200,
        "response": {
            "data": [
                {
                    "id": "12959",
                    "type": "anime",
                    "links": {
                        "self": "https://kitsu.io/api/edge/anime/12959"
                    },
                    "attributes": {
                        "createdAt": "2017-01-22T00:08:51.564Z",
                        "updatedAt": "2021-09-22T20:21:39.359Z",
                        "slug": "seitokai-yakuindomo-movie",
                        "synopsis": "Ousai Academy was originally an all-girls high school. Due to the declining birth rates in recent years, it was converted into a co-ed school. The first year male students would find themselves surrounded by girls and unfortunately, Tsuda Takatoshi is one of them. What's worse, he gets scolded on his first day by the student council president Shino Amakusa, which did not give a good first impression of him. Tsuda also meets the other student council members while getting scolded, and in the end, he gets late for class. As an apology for ruining his morning, Shino lets him join the student council for various of \"reasons\" and he accepts it, or rather, he's forced to accept. Thus begins his days as Tsuda soon realizes that he's the only normal student in Ousai Academy...",
                        "description": "Ousai Academy was originally an all-girls high school. Due to the declining birth rates in recent years, it was converted into a co-ed school. The first year male students would find themselves surrounded by girls and unfortunately, Tsuda Takatoshi is one of them. What's worse, he gets scolded on his first day by the student council president Shino Amakusa, which did not give a good first impression of him. Tsuda also meets the other student council members while getting scolded, and in the end, he gets late for class. As an apology for ruining his morning, Shino lets him join the student council for various of \"reasons\" and he accepts it, or rather, he's forced to accept. Thus begins his days as Tsuda soon realizes that he's the only normal student in Ousai Academy...",
                        "coverImageTopOffset": 0,
                        "titles": {
                            "en": "Seitokai Yakuindomo Movie",
                            "en_jp": "Gekijouban Seitokai Yakuindomo",
                            "ja_jp": "劇場版 生徒会役員共"
                        },
                        "canonicalTitle": "Gekijouban Seitokai Yakuindomo",
                        "abbreviatedTitles": [],
                        "averageRating": "77.5",
                        "ratingFrequencies": {
                            "2": "20",
                            "3": "0",
                            "4": "5",
                            "5": "0",
                            "6": "5",
                            "7": "2",
                            "8": "29",
                            "9": "2",
                            "10": "55",
                            "11": "3",
                            "12": "98",
                            "13": "11",
                            "14": "316",
                            "15": "29",
                            "16": "317",
                            "17": "25",
                            "18": "121",
                            "19": "12",
                            "20": "274"
                        },
                        "userCount": 3436,
                        "favoritesCount": 8,
                        "startDate": "2017-07-21",
                        "endDate": "2017-07-21",
                        "nextRelease": null,
                        "popularityRank": 2575,
                        "ratingRank": 1069,
                        "ageRating": "R",
                        "ageRatingGuide": "17+ (violence & profanity)",
                        "subtype": "movie",
                        "status": "finished",
                        "tba": null,
                        "posterImage": {
                            "tiny": "https://media.kitsu.io/anime/poster_images/12959/tiny.jpg",
                            "large": "https://media.kitsu.io/anime/poster_images/12959/large.jpg",
                            "small": "https://media.kitsu.io/anime/poster_images/12959/small.jpg",
                            "medium": "https://media.kitsu.io/anime/poster_images/12959/medium.jpg",
                            "original": "https://media.kitsu.io/anime/poster_images/12959/original.jpg",
                            "meta": {
                                "dimensions": {
                                    "tiny": {
                                        "width": null,
                                        "height": null
                                    },
                                    "large": {
                                        "width": null,
                                        "height": null
                                    },
                                    "small": {
                                        "width": null,
                                        "height": null
                                    },
                                    "medium": {
                                        "width": null,
                                        "height": null
                                    }
                                }
                            }
                        },
                        "coverImage": null,
                        "episodeCount": 1,
                        "episodeLength": 60,
                        "totalLength": 60,
                        "youtubeVideoId": null,
                        "showType": "movie",
                        "nsfw": false
                    },
                    "relationships": {
                        "genres": {
                            "links": {
                                "self": "https://kitsu.io/api/edge/anime/12959/relationships/genres",
                                "related": "https://kitsu.io/api/edge/anime/12959/genres"
                            }
                        },
                        "categories": {
                            "links": {
                                "self": "https://kitsu.io/api/edge/anime/12959/relationships/categories",
                                "related": "https://kitsu.io/api/edge/anime/12959/categories"
                            }
                        },
                        "castings": {
                            "links": {
                                "self": "https://kitsu.io/api/edge/anime/12959/relationships/castings",
                                "related": "https://kitsu.io/api/edge/anime/12959/castings"
                            }
                        },
                        "installments": {
                            "links": {
                                "self": "https://kitsu.io/api/edge/anime/12959/relationships/installments",
                                "related": "https://kitsu.io/api/edge/anime/12959/installments"
                            }
                        },
                        "mappings": {
                            "links": {
                                "self": "https://kitsu.io/api/edge/anime/12959/relationships/mappings",
                                "related": "https://kitsu.io/api/edge/anime/12959/mappings"
                            },
                            "data": [
                                {
                                    "type": "mappings",
                                    "id": "62143"
                                },
                                {
                                    "type": "mappings",
                                    "id": "259944"
                                },
                                {
                                    "type": "mappings",
                                    "id": "92010"
                                },
                                {
                                    "type": "mappings",
                                    "id": "53720"
                                }
                            ]
                        },
                        "reviews": {
                            "links": {
                                "self": "https://kitsu.io/api/edge/anime/12959/relationships/reviews",
                                "related": "https://kitsu.io/api/edge/anime/12959/reviews"
                            }
                        },
                        "mediaRelationships": {
                            "links": {
                                "self": "https://kitsu.io/api/edge/anime/12959/relationships/media-relationships",
                                "related": "https://kitsu.io/api/edge/anime/12959/media-relationships"
                            }
                        },
                        "characters": {
                            "links": {
                                "self": "https://kitsu.io/api/edge/anime/12959/relationships/characters",
                                "related": "https://kitsu.io/api/edge/anime/12959/characters"
                            }
                        },
                        "staff": {
                            "links": {
                                "self": "https://kitsu.io/api/edge/anime/12959/relationships/staff",
                                "related": "https://kitsu.io/api/edge/anime/12959/staff"
                            }
                        },
                        "productions": {
                            "links": {
                                "self": "https://kitsu.io/api/edge/anime/12959/relationships/productions",
                                "related": "https://kitsu.io/api/edge/anime/12959/productions"
                            }
                        },
                        "quotes": {
                            "links": {
                                "self": "https://kitsu.io/api/edge/anime/12959/relationships/quotes",
                                "related": "https://kitsu.io/api/edge/anime/12959/quotes"
                            }
                        },
                        "episodes": {
                            "links": {
                                "self": "https://kitsu.io/api/edge/anime/12959/relationships/episodes",
                                "related": "https://kitsu.io/api/edge/anime/12959/episodes"
                            }
                        },
                        "streamingLinks": {
                            "links": {
                                "self": "https://kitsu.io/api/edge/anime/12959/relationships/streaming-links",
                                "related": "https://kitsu.io/api/edge/anime/12959/streaming-links"
                            }
                        },
                        "animeProductions": {
                            "links": {
                                "self": "https://kitsu.io/api/edge/anime/12959/relationships/anime-productions",
                                "related": "https://kitsu.io/api/edge/anime/12959/anime-productions"
                            }
                        },
                        "animeCharacters": {
                            "links": {
                                "self": "https://kitsu.io/api/edge/anime/12959/relationships/anime-characters",
                                "related": "https://kitsu.io/api/edge/anime/12959/anime-characters"
                            }
                        },
                        "animeStaff": {
                            "links": {
                                "self": "https://kitsu.io/api/edge/anime/12959/relationships/anime-staff",
                                "related": "https://kitsu.io/api/edge/anime/12959/anime-staff"
                            }
                        }
                    }
                },
                {
                    "id": "5434",
                    "type": "anime",
                    "links": {
                        "self": "https:[...]
