[
    {
        "scope": "https://www.omdbapi.com:443",
        "method": "GET",
        "path": "/?apikey=728e1e03&s=Kono%20Subarashii%20Sekai%20ni%20Shukufuku%20wo%20Kurenai%20Densetsu",
        "body": "",
        "status": 200,
        "response": {
            "Response": "False",
            "Error": "Movie not found!"
        },
        "rawHeaders": [
            "Sat, 05 Jun 2021 14:23:31 GMT",
            "Content-Type",
            "application/json; charset=utf-8",
            "47",
            "close",
            "public, max-age=86400",
            "Sat, 05 Jun 2021 12:21:48 GMT",
            "Last-Modified",
            "Sat, 05 Jun 2021 11:21:48 GMT",
            "*, Accept-Encoding",
            "4.0.30319",
            "ASP.NET",
            "*",
            "HIT",
            "10903",
            "bytes",
            "0a7e27cef20000cbc4cda03000000001",
            "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
            "cloudflare",
            "65aa0f2b1ecdcbc4-VIE"
        ],
        "responseIsBinary": false
    }
]