[
    {
        "scope": "https://graphql.anilist.co:443",
        "method": "POST",
        "path": "/",
        "body": {
            "query": "\nquery ($id: Int!, $type: MediaType) {\n  Media(id: $id, type: $type) {\n    id\n    idMal\n    title {\n      romaji\n      english\n      native\n      userPreferred\n    }\n    startDate {\n      year\n      month\n      day\n    }\n    endDate {\n      year\n      month\n      day\n    }\n    coverImage {\n      large\n      medium\n    }\n    bannerImage\n    format\n    type\n    status\n    episodes\n    chapters\n    volumes\n    season\n    description\n    averageScore\n    meanScore\n    genres\n    synonyms\n    nextAiringEpisode {\n      airingAt\n      timeUntilAiring\n      episode\n    }\n    relations {\n      edges {\n        relationType\n      }\n      nodes{\n        id\n      }\n    }\n  }\n}",
            "variables": {
                "id": 21202,
                "type": "ANIME"
            }
        },
        "status": 200,
        "response": [
            "1f8b0800000000000003ac566d6fdb3610fe2b577ec906307e7f8b30ac70137735da246dec361daa62a0c593c586e2697cb1ab16feef0325276bb7a21b867d399077cff1782f7aa8cf4c0a2f58f2995da254cd4249960cfa83de8033252f8566c9b0371bf639f3ca6b8c084ba5f8a058c29e932158858db0c2154ac10aef8402a3605584bb9087bb007b7ac43843b3d5ca15d1e5faea7af5fac91c4e7f2179e260a3d13965b640067ca11cecc948b479d0b027ab65f436c2ab1db284a561d81b0fa39c601aa672d04bc364321d45cdecacb14ea31c8dd230c2fe240dd3f1286bf09b344ccfc632ca591e35678334e479afcf[...]
    {
        "scope": "https://kitsu.io:443",
        "method": "GET",
        "path": "/api/edge/anime/10941?include=genres,episodes,streamingLinks",
        "body": "",
        "status": 200,
        "response": {
            "data": {
                "id": "10941",
                "type": "anime",
                "links": {
                    "self": "https://kitsu.io/api/edge/anime/10941"
                },
                "attributes": {
                    "createdAt": "2015-05-28T18:09:53.848Z",
                    "updatedAt": "2021-06-30T06:12:24.930Z",
                    "slug": "kono-subarashii-sekai-ni-shukufuku-wo",
                    "synopsis": "After dying a laughable and pathetic death on his way back from buying a game, high school student and recluse Kazuma Satou finds himself sitting before a beautiful but obnoxious goddess named Aqua. She provides the NEET with two options: continue on to heaven or reincarnate in every gamer's dream—a real fantasy world! Choosing to start a new life, Kazuma is quickly tasked with defeating a Demon King who is terrorizing villages. But before he goes, he can choose one item of any kind to aid him in his quest, and the future hero selects Aqua. But Kazuma has made a grave mistake—Aqua is completely useless!\n\nUnfortunately, their troubles don't end here; it turns out that living in such a world is far different from how it plays out in a game. Instead of going on a thrilling adventure, the duo must first work to pay for their living expenses. Indeed, their misfortunes have only just begun!\n\n(Source: MAL Rewrite)",
                    "description": "After dying a laughable and pathetic death on his way back from buying a game, high school student and recluse Kazuma Satou finds himself sitting before a beautiful but obnoxious goddess named Aqua. She provides the NEET with two options: continue on to heaven or reincarnate in every gamer's dream—a real fantasy world! Choosing to start a new life, Kazuma is quickly tasked with defeating a Demon King who is terrorizing villages. But before he goes, he can choose one item of any kind to aid him in his quest, and the future hero selects Aqua. But Kazuma has made a grave mistake—Aqua is completely useless!\n\nUnfortunately, their troubles don't end here; it turns out that living in such a world is far different from how it plays out in a game. Instead of going on a thrilling adventure, the duo must first work to pay for their living expenses. Indeed, their misfortunes have only just begun!\n\n(Source: MAL Rewrite)",
                    "coverImageTopOffset": 400,
                    "titles": {
                        "en": "KonoSuba: God's Blessing on This Wonderful World!",
                        "en_jp": "Kono Subarashii Sekai ni Shukufuku wo!",
                        "en_us": "KonoSuba: God's Blessing on This Wonderful World!",
                        "ja_jp": "この素晴らしい世界に祝福を！"
                    },
                    "canonicalTitle": "Kono Subarashii Sekai ni Shukufuku wo!",
                    "abbreviatedTitles": [
                        "Give Blessings to This Wonderful World!"
                    ],
                    "averageRating": "82.14",
                    "ratingFrequencies": {
                        "2": "987",
                        "3": "21",
                        "4": "122",
                        "5": "23",
                        "6": "193",
                        "7": "35",
                        "8": "1550",
                        "9": "58",
                        "10": "1003",
                        "11": "118",
                        "12": "2300",
                        "13": "262",
                        "14": "10047",
                        "15": "796",
                        "16": "12075",
                        "17": "1237",
                        "18": "8817",
                        "19": "555",
                        "20": "18600"
                    },
                    "userCount": 83298,
                    "favoritesCount": 1717,
                    "startDate": "2016-01-14",
                    "endDate": "2016-03-17",
                    "nextRelease": null,
                    "popularityRank": 72,
                    "ratingRank": 143,
                    "ageRating": "PG",
                    "ageRatingGuide": "Teens 13 or older",
                    "subtype": "TV",
                    "status": "finished",
                    "tba": "",
                    "posterImage": {
                        "tiny": "https://media.kitsu.io/anime/poster_images/10941/tiny.jpg?1597698779",
                        "small": "https://media.kitsu.io/anime/poster_images/10941/small.jpg?1597698779",
                        "medium": "https://media.kitsu.io/anime/poster_images/10941/medium.jpg?1597698779",
                        "large": "https://media.kitsu.io/anime/poster_images/10941/large.jpg?1597698779",
                        "original": "https://media.kitsu.io/anime/poster_images/10941/original.jpg?1597698779",
                        "meta": {
                            "dimensions": {
                                "tiny": {
                                    "width": 110,
                                    "height": 156
                                },
                                "small": {
                                    "width": 284,
                                    "height": 402
                                },
                                "medium": {
                                    "width": 390,
                                    "height": 554
                                },
                                "large": {
                                    "width": 550,
                                    "height": 780
                                }
                            }
                        }
                    },
                    "coverImage": {
                        "tiny": "https://media.kitsu.io/anime/cover_images/10941/tiny.jpg?1597702030",
                        "small": "https://media.kitsu.io/anime/cover_images/10941/small.jpg?1597702030",
                        "large": "https://media.kitsu.io/anime/cover_images/10941/large.jpg?1597702030",
                        "original": "https://media.kitsu.io/anime/cover_images/10941/original.png?1597702030",
                        "meta": {
                            "dimensions": {
                                "tiny": {
                                    "width": 840,
                                    "height": 200
                                },
                                "small": {
                                    "width": 1680,
                                    "height": 400
                                },
                                "large": {
                                    "width": 3360,
                                    "height": 800
                                }
                            }
                        }
                    },
                    "episodeCount": 10,
                    "episodeLength": 23,
                    "totalLength": 230,
                    "youtubeVideoId": "NU87y-38glA",
                    "showType": "TV",
                    "nsfw": false
                },
                "relationships": {
                    "genres": {
                        "links": {
                            "self": "https://kitsu.io/api/edge/anime/10941/relationships/genres",
                            "related": "https://kitsu.io/api/edge/anime/10941/genres"
                        },
                        "data": [
                            {
                                "type": "genres",
                                "id": "3"
                            },
                            {
                                "type": "genres",
                                "id": "8"
                            },
                            {
                                "type": "genres",
                                "id": "9"
                            },
                            {
                                "type": "genres",
                                "id": "36"
                            },
                            {
                                "type": "genres",
                                "id": "11"
                            },
                            {
                                "type": "genres",
                                "id": "2"
                            }
                        ]
                    },
                    "categories": {
                        "links": {
                            "self": "https://kitsu.io/api/edge/anime/10941/relationships/categories",
                            "related": "https://kitsu.io/api/edge/anime/10941/categories"
                        }
                    },
                    "castings": {
                        "links": {
                            "self": "https://kitsu.io/api/edge/anime/10941/relationships/castings",
                            "related": "https://kitsu.io/api/edge/anime/10941/castings"
                        }
                    },
                    "installments": {
                        "links": {
                            "self": "https://kitsu.io/api/edge/anime/10941/relationships/installments",
                            "related": "https://kitsu.io/api/edge/anime/10941/installments"
                        }
                    },
                    "mappings": {
                        "links": {
                            "self": "https://kitsu.io/api/edge/anime/10941/relationships/mappings",
                            "related": "https://kitsu.io/api/edge/anime/10941/mappings"
                        }
                    },
                    "reviews": {
                        "links": {
                            "self": "https://kitsu.io/api/edge/anime/10941/relationships/reviews",
                            "related": "https://kitsu.io/api/edge/anime/10941/reviews"
                        }
                    },
                    "mediaRelationships": {
                        "links": {
                            "self": "https://kitsu.io/api/edge/anime/10941/relationships/media-relationships",
                            "related": "https://kitsu.io/api/edge/anime/10941/media-relationships"
                        }
                    },
                    "characters": {
                        "links": {
                            "self": "https://kitsu.io/api/edge/anime/10941/relationships/characters",
                            "related": "https://kitsu.io/api/edge/anime/10941/characters"
                        }
                    },
                    "staff": {
                        "links": {
                            "self": "https://kitsu.io/api/edge/anime/10941/relationships/staff",
                            "related": "https://kitsu.io/api/edge/anime/10941/staff"
                        }
                    },
                    "productions": {
                        "links": {
                            "self": "https://kitsu.io/api/edge/anime/10941/relationships/productions",
                            "related": "https://kitsu.io/api/edge/anime/10941/productions"
                        }
                    },
                    "quotes": {
                        "links": {
                            "self": "https://kitsu.io/api/edge/anime/10941/relationships/quotes",
                            "related": "https://kitsu.io/api/edge/anime/10941/quotes"
                        }
                    },
                    "episodes": {
                        "links": {
                            "self": "https://kitsu.io/api/edge/anime/10941/relationships/episodes",
                            "related": "https://kitsu.io/api/edge/anime/10941/episodes"
                        },
                        "data": [
                            {
                                "type": "episodes",
                                "id": "181827"
                            },
                            {
                       [...]
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/anime?q=kono%20subarashii%20sekai%20ni%20shukufuku%20wo&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 200,
        "response": [
            "1f8b0800000000000003bd58cb72a33814fd158d36b3b1db480224d8b91f954566268bcc63d1ee4a1123273418a51038d5d5957f9f0bc440084e243add95724585cf7d9c8bced5953f7fc76552661[...]
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/tv?q=kono%20subarashii%20sekai%20ni%20shukufuku%20wo&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 200,
        "response": [],
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=UTF-8",
            "X-Pagination-Page",
            "1",
            "X-Pagination-Limit",
            "50",
            "X-Pagination-Page-Count",
            "0",
            "X-Pagination-Item-Count",
            "0"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/movie?q=kono%20subarashii%20sekai%20ni%20shukufuku%20wo&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 200,
        "response": [],
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=UTF-8",
            "X-Pagination-Page",
            "1",
            "X-Pagination-Limit",
            "50",
            "X-Pagination-Page-Count",
            "0",
            "X-Pagination-Item-Count",
            "0"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/anime?q=Kono%20Subarashii%20Sekai%20ni%20Shukufuku%20wo!&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 200,
        "response": [
            "1f8b0800000000000003bd58cb72a33814fd158d36b3b1db480224d8b91f954566268bcc63d1ee4a1123273418a51038d5d5957f9f0bc440084e243add95724585cf7d9c8bced5953f7fc7655266[...]
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/tv?q=Kono%20Subarashii%20Sekai%20ni%20Shukufuku%20wo!&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 200,
        "response": [],
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=UTF-8",
            "X-Pagination-Page",
            "1",
            "X-Pagination-Limit",
            "50",
            "X-Pagination-Page-Count",
            "0",
            "X-Pagination-Item-Count",
            "0"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/movie?q=Kono%20Subarashii%20Sekai%20ni%20Shukufuku%20wo!&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 200,
        "response": [],
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=UTF-8",
            "X-Pagination-Page",
            "1",
            "X-Pagination-Limit",
            "50",
            "X-Pagination-Page-Count",
            "0",
            "X-Pagination-Item-Count",
            "0"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/anime?q=KONOSUBA%20-God%27s%20blessing%20on%20this%20wonderful%20world!&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 200,
        "response": [
            "1f8b0800000000000003bd58cb72a33814fd158d36b3b1db480224d8b91f954566268bcc63d1ee4a1123273418a51038d5d5957f9f0bc440084e243add95724585cf7d9c8bced[...]
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/tv?q=KONOSUBA%20-God%27s%20blessing%20on%20this%20wonderful%20world!&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 200,
        "response": [],
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=UTF-8",
            "X-Pagination-Page",
            "1",
            "X-Pagination-Limit",
            "50",
            "X-Pagination-Page-Count",
            "0",
            "X-Pagination-Item-Count",
            "0"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/movie?q=KONOSUBA%20-God%27s%20blessing%20on%20this%20wonderful%20world!&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 200,
        "response": [],
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=UTF-8",
            "X-Pagination-Page",
            "1",
            "X-Pagination-Limit",
            "50",
            "X-Pagination-Page-Count",
            "0",
            "X-Pagination-Item-Count",
            "0"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.trakt.tv:443",
        "method": "GET",
        "path": "/search/movie,show?query=kono%20subarashii%20sekai%20ni%20shukufuku%20wo",
        "body": "",
        "status": 200,
        "response": [
            "1f8b08007721dc6000039c90bb4ec33014865fc5786189abd8cec5c90803036c20312086a47653ab8e0fb29d5615eabb73d296aa420c88eddc743e7dffdb274dfb0f435b3ac2d61a9ad1b884803d6f164a964288ecbc69f1d226379f3e8287e7a9ef5af200fa36923b6762b47e20e0495adb485ec16b135693c32a387d439e[...]
    {
        "scope": "https://api.trakt.tv:443",
        "method": "GET",
        "path": "/shows/103803?extended=full",
        "body": "",
        "status": 200,
        "response": [
            "1f8b08004e31bf6000034453418ee33610fc4a87975c248f64cfcc7a75db5c72582497319020c162408b2d8b2b8a5448ca8667b1c07e231fc8c3f625a996ec04100891ecaeaeae2e7e51d966c7aa511f830f2ff35137f473303f26fac9714ad69f28783af436d16fc11b8eddecf0179df94115eaca3aaa665bd5cf85b226a9e68bca510f593575b5db57bb4225379f003e003c01bc3[...]
    {
        "scope": "https://api.trakt.tv:443",
        "method": "GET",
        "path": "/shows/103803/seasons?extended=episodes",
        "body": "",
        "status": 200,
        "response": [
            "1f8b08007821dc6000038c974f73a33810c5bf8a96cb5c922a249000dfb29949363b999dd438553e4ce5808d62b4c6924b08cf6653f9eedbc2894102bcbeb8fc0ffc7377bf7e4f3f5f03d96c975c07b3f02210451dcc5e03a3f38d096698e090461781d917cb60c662c6d20c5e6dedab84124ced473a5ff360269baa7abb08f84ed4aae070939faf41cdf35ac9f6be1[...]
    {
        "scope": "https://api.trakt.tv:443",
        "method": "GET",
        "path": "/shows/103803/seasons?extended=full",
        "body": "",
        "status": 200,
        "response": [
            "1f8b08007921dc600003b455c18edb3610fd95892eb9780dc95edbbbee296d523448934bb640d16e11d0d248624c910a49d9718200f9887e61bfa46f2879937693022d50c00749e6ccbc79f3e6f1d7f7991dba1dfb6c9bcf325d856cfb3e8b5eed63b62d1645be5aceb278a876d9767db95e5f5de3ad93b7cd6a51ace42faf1aceb67630e6c32cf32a6adb64dbabf9147a7[...]
    {
        "scope": "https://api.themoviedb.org:443",
        "method": "GET",
        "path": "/3/movie/65844?api_key=b655dfd5dba228ff61cafdceff6048f6",
        "body": "",
        "status": 200,
        "response": [
            "1f8b08000000000000039d53db8eda3010fd95c8cf94e64680bc81f6f650ba12bbdbaa545564f060bc38e3d497acd08a7faf9d44e9f6b552a438e7cc9c9939e3bc13ca9cb4a43c52696042f6f470665a355543ed8994e8a4f4204885dc5456550725251cac5038928e71f002f18470400d86943fdf8960a44ce2f9dca3486b202579fe166[...]
[...]
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/anime?q=konosuba%20gods%20blessing%20on%20this%20wonderful%20world&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 200,
        "response": [
            "1f8b0800000000000003bd58cb72a33814fd158d36b3b1db480224d8b91f954566268bcc63d1ee4a1123273418a51038d5d5957f9f0bc440084e243add95724585cf7d9c8bced5953f[...]
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/tv?q=konosuba%20gods%20blessing%20on%20this%20wonderful%20world&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 200,
        "response": [],
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=UTF-8",
            "X-Pagination-Page",
            "1",
            "X-Pagination-Limit",
            "50",
            "X-Pagination-Page-Count",
            "0",
            "X-Pagination-Item-Count",
            "0"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/movie?q=konosuba%20gods%20blessing%20on%20this%20wonderful%20world&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 200,
        "response": [],
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=UTF-8",
            "X-Pagination-Page",
            "1",
            "X-Pagination-Limit",
            "50",
            "X-Pagination-Page-Count",
            "0",
            "X-Pagination-Item-Count",
            "0"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/anime?q=KonoSuba:%20God%27s%20Blessing%20on%20This%20Wonderful%20World!&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 200,
        "response": [
            "1f8b0800000000000003bd58cb72a33814fd158d36b3b1db480224d8b91f954566268bcc63d1ee4a1123273418a51038d5d5957f9f0bc440084e243add95724585cf7d9c8bced[...]
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/tv?q=KonoSuba:%20God%27s%20Blessing%20on%20This%20Wonderful%20World!&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 200,
        "response": [],
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=UTF-8",
            "X-Pagination-Page",
            "1",
            "X-Pagination-Limit",
            "50",
            "X-Pagination-Page-Count",
            "0",
            "X-Pagination-Item-Count",
            "0"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/movie?q=KonoSuba:%20God%27s%20Blessing%20on%20This%20Wonderful%20World!&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 200,
        "response": [],
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=UTF-8",
            "X-Pagination-Page",
            "1",
            "X-Pagination-Limit",
            "50",
            "X-Pagination-Page-Count",
            "0",
            "X-Pagination-Item-Count",
            "0"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/anime?q=Het%20Huis%20Anubis%20en%20de%20Terugkeer%20van%20Sibuna&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 200,
        "response": [],
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=UTF-8",
            "X-Pagination-Page",
            "1",
            "X-Pagination-Limit",
            "50",
            "X-Pagination-Page-Count",
            "0",
            "X-Pagination-Item-Count",
            "0"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/tv?q=Het%20Huis%20Anubis%20en%20de%20Terugkeer%20van%20Sibuna&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 200,
        "response": [],
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=UTF-8",
            "X-Pagination-Page",
            "1",
            "X-Pagination-Limit",
            "50",
            "X-Pagination-Page-Count",
            "0",
            "X-Pagination-Item-Count",
            "0"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/movie?q=Het%20Huis%20Anubis%20en%20de%20Terugkeer%20van%20Sibuna&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 200,
        "response": [
            "1f8b0800000000000003958ecb4ec33010457fc59ab5dd3a716d45de75d73dec28428e3cb4561207f9110955f977264505b6ace671efccb92f3728a18c08164e58d8a986cc8eb1f65430328fec1953bd0c88892d2eb2a7d0d7e880c327ba04b6958de4f031e7823441d39ef74ddb75d298c3bbd4ca4b8d8acc358da49ef7d3bc04cce4396869c87bc522ae4414ee4e14188547511e444144911fc4e4e200b6698d54dd3695102f19ec0d729886716bbe7760f54e7158e68224ab9543987cff57373bfda37766dd1cfef7d35bf084b927e490c74a07f08fa0ebfafa055a57f5c854010000"
        ],
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=UTF-8",
            "X-Pagination-Page",
            "1",
            "X-Pagination-Limit",
            "50",
            "X-Pagination-Page-Count",
            "1",
            "X-Pagination-Item-Count",
            "1"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/anime?q=konosuba-god-s-blessing-on-this-wonderful-world&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 200,
        "response": [],
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=UTF-8",
            "X-Pagination-Page",
            "1",
            "X-Pagination-Limit",
            "50",
            "X-Pagination-Page-Count",
            "0",
            "X-Pagination-Item-Count",
            "0"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/tv?q=konosuba-god-s-blessing-on-this-wonderful-world&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 200,
        "response": [],
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=UTF-8",
            "X-Pagination-Page",
            "1",
            "X-Pagination-Limit",
            "50",
            "X-Pagination-Page-Count",
            "0",
            "X-Pagination-Item-Count",
            "0"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.simkl.com:443",
[...]
