[
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/tv?q=worldend%20what%20are%20you%20doing%20at%20the%20end%20of%20the%20world?%20are%20you%20busy?%20will%20you%20save%20us?&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 200,
        "response": [],
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=UTF-8",
            "X-Pagination-Page",
            "1",
            "X-Pagination-Limit",
            "50",
            "X-Pagination-Page-Count",
            "0",
            "X-Pagination-Item-Count",
            "0"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/movie?q=worldend%20what%20are%20you%20doing%20at%20the%20end%20of%20the%20world?%20are%20you%20busy?%20will%20you%20save%20us?&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 200,
        "response": [],
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=UTF-8",
            "X-Pagination-Page",
            "1",
            "X-Pagination-Limit",
            "50",
            "X-Pagination-Page-Count",
            "0",
            "X-Pagination-Item-Count",
            "0"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://graphql.anilist.co:443",
        "method": "POST",
        "path": "/",
        "body": {
            "query": "\nquery ($id: Int!, $type: MediaType) {\n  Media(id: $id, type: $type) {\n    id\n    idMal\n    title {\n      romaji\n      english\n      native\n      userPreferred\n    }\n    startDate {\n      year\n      month\n      day\n    }\n    endDate {\n      year\n      month\n      day\n    }\n    coverImage {\n      large\n      medium\n    }\n    bannerImage\n    format\n    type\n    status\n    episodes\n    chapters\n    volumes\n    season\n    description\n    averageScore\n    meanScore\n    genres\n    synonyms\n    nextAiringEpisode {\n      airingAt\n      timeUntilAiring\n      episode\n    }\n    relations {\n      edges {\n        relationType\n      }\n      nodes{\n        id\n      }\n    }\n  }\n}",
            "variables": {
                "id": 20853,
                "type": "ANIME"
            }
        },
        "status": 200,
        "response": [
            "1f8b0800000000000003ac54db8edb3610fd15625eda028cafdd4b84a080d1d53606d6ee2676db20d13e8cc5b1c45d8a74c8911d77a17f0f48ed0d089087200f22388787e70c3943dd834246c8ee61414aa78956904d46e72753095a2dd04036393b3d3991c09a0d4586770dde6ac860669475580f3e9277620212c85646871a32db1a23c122eb3d4106453b1de1248eb48963f93a8df48c6f13be29134725b13690bff6b425ef497debd649088c9e2f90535647421f331f9f48689ce51ab2b1048547c8c6e32ee6a6be439d[...]
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/anime?q=WorldEnd:%20What%20are%20you%20doing%20at%20the%20end%20of%20the%20world?%20Are%20you%20busy?%20Will%20you%20save%20us?&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 200,
        "response": [],
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=UTF-8",
            "X-Pagination-Page",
            "1",
            "X-Pagination-Limit",
            "50",
            "X-Pagination-Page-Count",
            "0",
            "X-Pagination-Item-Count",
            "0"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/tv?q=WorldEnd:%20What%20are%20you%20doing%20at%20the%20end%20of%20the%20world?%20Are%20you%20busy?%20Will%20you%20save%20us?&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 200,
        "response": [],
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=UTF-8",
            "X-Pagination-Page",
            "1",
            "X-Pagination-Limit",
            "50",
            "X-Pagination-Page-Count",
            "0",
            "X-Pagination-Item-Count",
            "0"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/movie?q=WorldEnd:%20What%20are%20you%20doing%20at%20the%20end%20of%20the%20world?%20Are%20you%20busy?%20Will%20you%20save%20us?&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 200,
        "response": [],
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=UTF-8",
            "X-Pagination-Page",
            "1",
            "X-Pagination-Limit",
            "50",
            "X-Pagination-Page-Count",
            "0",
            "X-Pagination-Item-Count",
            "0"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/anime?q=worldend-what-are-you-doing-at-the-end-of-the-world-are-you-busy-will-you-save-us&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 200,
        "response": [
            "1f8b0800000000000003b592516fda3010c7bf8a75cfc92050279017b415a4f5617dc926a84a85dcc56d5c1c1bc53615aaf8ee3b3b8454adb627f61039f[...]
    {
        "scope": "https://kitsu.io:443",
        "method": "GET",
        "path": "/api/edge/anime/9136?include=genres,episodes,streamingLinks",
        "body": "",
        "status": 200,
        "response": {
            "data": {
                "id": "9136",
                "type": "anime",
                "links": {
                    "self": "https://kitsu.io/api/edge/anime/9136"
                },
                "attributes": {
                    "createdAt": "2014-09-21T20:49:48.258Z",
                    "updatedAt": "2021-06-30T06:00:04.332Z",
                    "slug": "aldnoah-zero-2",
                    "synopsis": "Seeking revenge, Count Saazbaum, a Martian, attacked the Earth. Later on, the war between the Terrans and Martians ended with Earth's Terrans gaining the victory. However, nineteen months later, the battle between them continues. Martians still continue to invade the Earth and the Terrans continue to protect it.",
                    "description": "Seeking revenge, Count Saazbaum, a Martian, attacked the Earth. Later on, the war between the Terrans and Martians ended with Earth's Terrans gaining the victory. However, nineteen months later, the battle between them continues. Martians still continue to invade the Earth and the Terrans continue to protect it.",
                    "coverImageTopOffset": 150,
                    "titles": {
                        "en": "Aldnoah.Zero 2nd Season",
                        "en_jp": "Aldnoah.Zero 2nd Season",
                        "en_us": "Aldnoah.Zero",
                        "ja_jp": "アルドノア・ゼロ2ndシーズン"
                    },
                    "canonicalTitle": "Aldnoah.Zero 2nd Season",
                    "abbreviatedTitles": [],
                    "averageRating": "67.94",
                    "ratingFrequencies": {
                        "2": "227",
                        "3": "4",
                        "4": "379",
                        "5": "6",
                        "6": "502",
                        "7": "19",
                        "8": "1020",
                        "9": "16",
                        "10": "1045",
                        "11": "42",
                        "12": "1942",
                        "13": "71",
                        "14": "2826",
                        "15": "74",
                        "16": "2229",
                        "17": "47",
                        "18": "1165",
                        "19": "9",
                        "20": "1453"
                    },
                    "userCount": 21681,
                    "favoritesCount": 134,
                    "startDate": "2015-01-11",
                    "endDate": "2015-03-29",
                    "nextRelease": null,
                    "popularityRank": 516,
                    "ratingRank": 5373,
                    "ageRating": "R",
                    "ageRatingGuide": "17+ (violence & profanity)",
                    "subtype": "TV",
                    "status": "finished",
                    "tba": null,
                    "posterImage": {
                        "tiny": "https://media.kitsu.io/anime/poster_images/9136/tiny.jpg?1597698535",
                        "small": "https://media.kitsu.io/anime/poster_images/9136/small.jpg?1597698535",
                        "medium": "https://media.kitsu.io/anime/poster_images/9136/medium.jpg?1597698535",
                        "large": "https://media.kitsu.io/anime/poster_images/9136/large.jpg?1597698535",
                        "original": "https://media.kitsu.io/anime/poster_images/9136/original.png?1597698535",
                        "meta": {
                            "dimensions": {
                                "tiny": {
                                    "width": 110,
                                    "height": 156
                                },
                                "small": {
                                    "width": 284,
                                    "height": 402
                                },
                                "medium": {
                                    "width": 390,
                                    "height": 554
                                },
                                "large": {
                                    "width": 550,
                                    "height": 780
                                }
                            }
                        }
                    },
                    "coverImage": {
                        "tiny": "https://media.kitsu.io/anime/cover_images/9136/tiny.jpg?1597701251",
                        "small": "https://media.kitsu.io/anime/cover_images/9136/small.jpg?1597701251",
                        "large": "https://media.kitsu.io/anime/cover_images/9136/large.jpg?1597701251",
                        "original": "https://media.kitsu.io/anime/cover_images/9136/original.jpg?1597701251",
                        "meta": {
                            "dimensions": {
                                "tiny": {
                                    "width": 840,
                                    "height": 200
                                },
                                "small": {
                                    "width": 1680,
                                    "height": 400
                                },
                                "large": {
                                    "width": 3360,
                                    "height": 800
                                }
                            }
                        }
                    },
                    "episodeCount": 12,
                    "episodeLength": 23,
                    "totalLength": 276,
                    "youtubeVideoId": "AEn7nqWONC0",
                    "showType": "TV",
                    "nsfw": false
                },
                "relationships": {
                    "genres": {
                        "links": {
                            "self": "https://kitsu.io/api/edge/anime/9136/relationships/genres",
                            "related": "https://kitsu.io/api/edge/anime/9136/genres"
                        },
                        "data": [
                            {
                                "type": "genres",
                                "id": "5"
                            },
                            {
                                "type": "genres",
                                "id": "6"
                            },
                            {
                                "type": "genres",
                                "id": "30"
                            },
                            {
                                "type": "genres",
                                "id": "1"
                            },
                            {
                                "type": "genres",
                                "id": "54"
                            }
                        ]
                    },
                    "categories": {
                        "links": {
                            "self": "https://kitsu.io/api/edge/anime/9136/relationships/categories",
                            "related": "https://kitsu.io/api/edge/anime/9136/categories"
                        }
                    },
                    "castings": {
                        "links": {
                            "self": "https://kitsu.io/api/edge/anime/9136/relationships/castings",
                            "related": "https://kitsu.io/api/edge/anime/9136/castings"
                        }
                    },
                    "installments": {
                        "links": {
                            "self": "https://kitsu.io/api/edge/anime/9136/relationships/installments",
                            "related": "https://kitsu.io/api/edge/anime/9136/installments"
                        }
                    },
                    "mappings": {
                        "links": {
                            "self": "https://kitsu.io/api/edge/anime/9136/relationships/mappings",
                            "related": "https://kitsu.io/api/edge/anime/9136/mappings"
                        }
                    },
                    "reviews": {
                        "links": {
                            "self": "https://kitsu.io/api/edge/anime/9136/relationships/reviews",
                            "related": "https://kitsu.io/api/edge/anime/9136/reviews"
                        }
                    },
                    "mediaRelationships": {
                        "links": {
                            "self": "https://kitsu.io/api/edge/anime/9136/relationships/media-relationships",
                            "related": "https://kitsu.io/api/edge/anime/9136/media-relationships"
                        }
                    },
                    "characters": {
                        "links": {
                            "self": "https://kitsu.io/api/edge/anime/9136/relationships/characters",
                            "related": "https://kitsu.io/api/edge/anime/9136/characters"
                        }
                    },
                    "staff": {
                        "links": {
                            "self": "https://kitsu.io/api/edge/anime/9136/relationships/staff",
                            "related": "https://kitsu.io/api/edge/anime/9136/staff"
                        }
                    },
                    "productions": {
                        "links": {
                            "self": "https://kitsu.io/api/edge/anime/9136/relationships/productions",
                            "related": "https://kitsu.io/api/edge/anime/9136/productions"
                        }
                    },
                    "quotes": {
                        "links": {
                            "self": "https://kitsu.io/api/edge/anime/9136/relationships/quotes",
                            "related": "https://kitsu.io/api/edge/anime/9136/quotes"
                        }
                    },
                    "episodes": {
                        "links": {
                            "self": "https://kitsu.io/api/edge/anime/9136/relationships/episodes",
                            "related": "https://kitsu.io/api/edge/anime/9136/episodes"
                        },
                        "data": [
                            {
                                "type": "episodes",
                                "id": "198982"
                            },
                            {
                         [...]
[...]
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/tv?q=worldend-what-are-you-doing-at-the-end-of-the-world-are-you-busy-will-you-save-us&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 200,
        "response": [],
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=UTF-8",
            "X-Pagination-Page",
            "1",
            "X-Pagination-Limit",
            "50",
            "X-Pagination-Page-Count",
            "0",
            "X-Pagination-Item-Count",
            "0"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/anime?q=seitokai%20yakuindomo&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 200,
        "response": [
            "1f8b0800000000000003b5975b6bdb301480ff8ad1d84b491add2f79cb56d8c31883750c4a338a1ccb9b97c42e89522863ff7db29dd8c922c536ed9e12ace3231d7f9fa5e3fbdfc0667665c0147c30cbec57b18b751edd9acc164b9[...]
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/movie?q=worldend-what-are-you-doing-at-the-end-of-the-world-are-you-busy-will-you-save-us&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 200,
        "response": [],
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=UTF-8",
            "X-Pagination-Page",
            "1",
            "X-Pagination-Limit",
            "50",
            "X-Pagination-Page-Count",
            "0",
            "X-Pagination-Item-Count",
            "0"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/tv?q=seitokai%20yakuindomo&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 200,
        "response": [],
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=UTF-8",
            "X-Pagination-Page",
            "1",
            "X-Pagination-Limit",
            "50",
            "X-Pagination-Page-Count",
            "0",
            "X-Pagination-Item-Count",
            "0"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/movie?q=seitokai%20yakuindomo&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 200,
        "response": [],
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=UTF-8",
            "X-Pagination-Page",
            "1",
            "X-Pagination-Limit",
            "50",
            "X-Pagination-Page-Count",
            "0",
            "X-Pagination-Item-Count",
            "0"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/anime?q=Seitokai%20Yakuindomo%20Season%202&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 200,
        "response": [],
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=UTF-8",
            "X-Pagination-Page",
            "1",
            "X-Pagination-Limit",
            "50",
            "X-Pagination-Page-Count",
            "0",
            "X-Pagination-Item-Count",
            "0"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/tv?q=Seitokai%20Yakuindomo%20Season%202&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 200,
        "response": [],
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=UTF-8",
            "X-Pagination-Page",
            "1",
            "X-Pagination-Limit",
            "50",
            "X-Pagination-Page-Count",
            "0",
            "X-Pagination-Item-Count",
            "0"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/movie?q=Seitokai%20Yakuindomo%20Season%202&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 200,
        "response": [],
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=UTF-8",
            "X-Pagination-Page",
            "1",
            "X-Pagination-Limit",
            "50",
            "X-Pagination-Page-Count",
            "0",
            "X-Pagination-Item-Count",
            "0"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/anime?q=aldnoahzero&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 200,
        "response": [],
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=UTF-8",
            "X-Pagination-Page",
            "1",
            "X-Pagination-Limit",
            "50",
            "X-Pagination-Page-Count",
            "0",
            "X-Pagination-Item-Count",
            "0"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/tv?q=aldnoahzero&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 200,
        "response": [],
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=UTF-8",
            "X-Pagination-Page",
            "1",
            "X-Pagination-Limit",
            "50",
            "X-Pagination-Page-Count",
            "0",
            "X-Pagination-Item-Count",
            "0"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/movie?q=aldnoahzero&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 200,
        "response": [],
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=UTF-8",
            "X-Pagination-Page",
            "1",
            "X-Pagination-Limit",
            "50",
            "X-Pagination-Page-Count",
            "0",
            "X-Pagination-Item-Count",
            "0"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/anime?q=Aldnoah.Zero&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 200,
        "response": [
            "1f8b0800000000000003a551cb6ec23010fc15b4e788f811c74e6e7c0337088adcdab429898d12078922febd1b22a58882da8a8b1f3b3be3f1cefa04a10ab5851c16b5715ebfcf57b6f5108de5b2f58dfea87ea247ab5bc819a109761ef7033f1cb0bef75db088804c8b58a68a2b223341b8115c6788ebba2e2fca1de4eb5bd1c57c35ac457cd956b089a06f6b142b62edaac61671221565781b799f23cdeecb57dfbb00396511b4daedf0946459045dd0a1c797c03a630d0c60a8dc1b564ed055cdae1e0e630d7239c7bf1c7c18ac254c9c2368f4c306962891a9e93525d233122af32d5d56067506bfe8a3ee910fd7b6b1fdd9d18b07a367a48819619209f242544238d96ef9afb3bfbace96ecb6c29c992dadeebcbb970aa33c237f89852949ff1bcb34734ee49d502698a6324da648b8e2f47e2417b30f32d97c011d9c0f9f10030000"
        ],
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=UTF-8",
            "X-Pagination-Page",
            "1",
            "X-Pagination-Limit",
            "50",
            "X-Pagination-Page-Count",
            "1",
            "X-Pagination-Item-Count",
            "2"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/tv?q=Aldnoah.Zero&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 200,
        "response": [],
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=UTF-8",
            "X-Pagination-Page",
            "1",
            "X-Pagination-Limit",
            "50",
            "X-Pagination-Page-Count",
            "0",
            "X-Pagination-Item-Count",
            "0"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/movie?q=Aldnoah.Zero&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 200,
        "response": [],
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=UTF-8",
            "X-Pagination-Page",
            "1",
            "X-Pagination-Limit",
            "50",
            "X-Pagination-Page-Count",
            "0",
            "X-Pagination-Item-Count",
            "0"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/anime/47812?extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 200,
        "response": [
            "1f8b0800000000000003ad596d6fdb3812fe2b3c0307dc0171c237bdf95b769ba6db369ba20e8add5e0e0145d1366b59f44a94b36e91ff7e43cab62c2b2fbe2240a058f4907a1ece3c3343f9c7c06a9babc168709e678511b3d3afaa348393c15a897230a298f093815d2f9d8528f442[...]
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/anime/episodes/47812?client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 200,
        "response": [
            "1f8b080000000000000395d4cd4ec3300c07f077c9b912b1633bce5e05104ad314550c31ade380a6bd3be602b45a0eb9556daa9ffefec8e3d5d5d3b27e4cd51d607097af933dfcbe1a5c5ece757287cbf9b30e6e797fb58f284f0f281c40552422018fc27674995677b8ba75797f3bbe2cf61360604c78bb0dff10ec422812cd1c822185b48df82d12fa10f434c7c41839d3d44454b70875211cc9a499324c51c636225b84bb906895c09c7c98b1f8721f2105bf4b225d880645f008610e008d243fc82e49ec4b222cc8b9869c6dccda086d11ed4212448cb5804852c536b21be1d4838897809602d943191b3d89a06137c2e0fb14102c0162f033b516c514dc751eba765e805526268a62956b742592dfb71eba965e00c817ac4c62b9625bd9f5fe2fca7aaa65c9c706920c4968578a1f9161d244f57ec148ed6ab028cfdf11c64b5825050000"
        ],
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=UTF-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.trakt.tv:443",
        "method": "GET",
        "path": "/search/movie,show?query=Seitokai%20Yakuindomo%20Season%202",
        "body": "",
        "status": 200,
        "response": [
            "1f8b08008c21dc6000038a8e05000000ffff030029bb4c0d02000000"
        ],
        "rawHeaders": [
            "Wed, 30 Jun 2021 07:47:26 GMT",
            "Content-Type",
            "application/json; charset=utf-8",
            "chunked",
            "close",
            "SAMEORIGIN",
            "1; mode=block",
            "nosniff",
            "noopen",
            "none",
            "strict-origin-when-cross-origin",
            "X-Pagination-Page",
            "1",
            "X-Pagination-Limit",
            "10",
            "Wed, 30 Jun 2021 15:47:24 GMT",
            "X-Pagination-Page-Count",
            "0",
            "X-Pagination-Item-Count",
            "0",
            "public, max-age=28800",
            "gzip",
            "X-Ratelimit",
            "{\"name\":\"AUTHED_API_GET_LIMIT\",\"period\":300,\"limit\":1000,\"remaining\":969,\"until\":\"2021-06-30T07:50:00Z\"}",
            "ETag",
            "W/\"575b078699e157ab6aeadf5a612037df\"",
            "8562e216-3e85-443d-aa81-ca0f0d59adc2",
            "0.015576",
            "EXPIRED",
            "0afd7c29d40000dfeb40acb000000001",
            "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
            "cloudflare",
            "6675c9561debdfeb-FRA"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.trakt.tv:443",
        "method": "GET",
        "path": "/search/movie,show?query=aldnoahzero",
        "body": "",
        "status": 200,
        "response": [
            "1f8b08008d21dc6000038a8e05000000ffff030029bb4c0d02000000"
        ],
        "rawHeaders": [
[...]
