[
    {
        "scope": "https://api.trakt.tv:443",
        "method": "GET",
        "path": "/shows/97794?extended=full",
        "body": "",
        "status": 200,
        "response": [
            "1f8b080035fbac6000034c54518edb3610bdca805f092079657b6dc7028a625ba0ed7e3408ba8ba46851185c716c71459102495955820039487bb99ca48fb4b7ed0f250edf0cdfbc99e1271175342c6af1d832dd85c85e878e3e485f53b63452713fd3f73acee42c45d83e48a0442166965ed4ab6ab929845641d49f44f4b28ba2deef76fbdb4204339e10193ea5bc462e27e9cb6cb8042e1b042e9dcdb6e91a389ed51302efd7fbfd16a1fbb413316eaafde676bb4d806cdade6e77cb84f6f2840cec68cce742b833fbb3e6092ef716ff514b9a6420493d47769e4274be4722325223c7c08aa4a5d10e9e1b566c230c4a87[...]
    {
        "scope": "https://api.trakt.tv:443",
        "method": "GET",
        "path": "/shows/97794/seasons?extended=episodes",
        "body": "",
        "status": 200,
        "response": [
            "1f8b0800b55ebb60000394d8414fe3381407f0af62e5b2170ef6731cc7487b58060dbb12bb4294e532e2605a4f1b912695e3c222c437dbdb7eb1751a31cd73e3e0b90105de8fe6f9ff9ef9f69635fbeda3b1d9393bcbaa55979dbf65ceea27e7bfc03855f959e69e578fd979011428f59f6dfbcf2414f2f092d56b939d37fbba7e3fcbccaeeada95f1bfe4db5bd619dd[...]
    {
        "scope": "https://api.trakt.tv:443",
        "method": "GET",
        "path": "/shows/97794/seasons?extended=full",
        "body": "",
        "status": 200,
        "response": [
            "1f8b0800b35ebb6000038c90b14ec34010447f056d6d47bb7b3e1b5f9792021a5220108a2ef8884e71ece87c768a28ffce3a6090120129677666a47d2f0768faedca05309480af3a300788c16ea218a4b0cc128843b502933332a2a8eda80ace8bd329d8b503d3f4757d4c20d8e89bb5646725662483431b9d4c162a01b7f35d5bb9e55bdb3732ced2b63eb86af975e83ebde8632d83f0e86cd736370409b4830b83777b7145bdfbd0c5e5a92a0623e9943045b52065141ac419223e4bb0df5536cabe8da71c538a798a7a81daa8dc5039e51a17f76dd84868fe70773f7f8263f20385cfa1b0664df90465fc7b4272ab097f4752ccf01b075dd020bea4317a6734f87f1af26296225f49235bb0325a99ec0f1aaf1f000000ffff03002a69702324020000"
        ],
        "rawHeaders": [
            "Sat, 05 Jun 2021 16:27:34 GMT",
            "Content-Type",
            "application/json; charset=utf-8",
            "chunked",
            "close",
            "SAMEORIGIN",
            "1; mode=block",
            "nosniff",
            "noopen",
            "none",
            "strict-origin-when-cross-origin",
            "Sat, 05 Jun 2021 19:23:31 GMT",
            "ETag",
            "W/\"587d795d8ba8081040790bdf3f903d07\"",
            "public, max-age=28800",
            "gzip",
            "X-Ratelimit",
            "{\"name\":\"AUTHED_API_GET_LIMIT\",\"period\":300,\"limit\":1000,\"remaining\":918,\"until\":\"2021-06-05T11:25:00Z\"}",
            "3aa1c1c9-b7a1-4827-8051-2ca74ba3e555",
            "0.007543",
            "HIT",
            "18240",
            "0a7e9961e80000081c442fc000000001",
            "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
            "cloudflare",
            "65aac4e30b6b081c-CDG"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://kitsu.io:443",
        "method": "GET",
        "path": "/api/edge/anime?filter%5Btext%5D=the%20asterisk%20war%20the%20academy%20city%20on%20the%20water&include=mappings",
        "body": "",
        "status": 200,
        "response": {
            "data": [
                {
                    "id": "10857",
                    "type": "anime",
                    "links": {
                        "self": "https://kitsu.io/api/edge/anime/10857"
                    },
                    "attributes": {
                        "createdAt": "2015-04-06T20:19:01.714Z",
                        "updatedAt": "2021-06-05T12:00:06.361Z",
                        "slug": "gakusen-toshi-asterisk",
                        "synopsis": "Long, long ago, an epic catastrophe, known as Invertia, caused a complete change in the world's power balance. In the years following this disaster, a group known as the Integrated Enterprise Foundation rose to power. In addition to this massive change, a new breed of humans born with amazing physical skills known as Genestella also emerged and joined the ranks of humanity.Gakusen Toshi Asterisk follows the story of Ayato Amagiri, a student who has just transferred into one of the six most elite schools for Genestella students in the world—Seidoukan Academy—where students learn to control their powers and duel against each other in entertainment battles known as festas. Unfortunately, Ayato gets off to a rough start. When trying to return a lost handkerchief to a female classmate, he accidentally sees her changing which leads to her challenging him to a duel. What most people don't realize however, is that Ayato has no real interest in festas and instead has an alternative motive for joining this prestigious school. What is Ayato's big secret? Will he be able to keep up his act when surrounded by some of the greatest Genestella in the world?",
                        "description": "Long, long ago, an epic catastrophe, known as Invertia, caused a complete change in the world's power balance. In the years following this disaster, a group known as the Integrated Enterprise Foundation rose to power. In addition to this massive change, a new breed of humans born with amazing physical skills known as Genestella also emerged and joined the ranks of humanity.Gakusen Toshi Asterisk follows the story of Ayato Amagiri, a student who has just transferred into one of the six most elite schools for Genestella students in the world—Seidoukan Academy—where students learn to control their powers and duel against each other in entertainment battles known as festas. Unfortunately, Ayato gets off to a rough start. When trying to return a lost handkerchief to a female classmate, he accidentally sees her changing which leads to her challenging him to a duel. What most people don't realize however, is that Ayato has no real interest in festas and instead has an alternative motive for joining this prestigious school. What is Ayato's big secret? Will he be able to keep up his act when surrounded by some of the greatest Genestella in the world?",
                        "coverImageTopOffset": 100,
                        "titles": {
                            "en": "The Asterisk War: The Academy City on the Water",
                            "en_jp": "Gakusen Toshi Asterisk",
                            "en_us": "The Asterisk War",
                            "ja_jp": "学戦都市アスタリスク"
                        },
                        "canonicalTitle": "Gakusen Toshi Asterisk",
                        "abbreviatedTitles": [
                            "Academy Battle City Asterisk"
                        ],
                        "averageRating": "68.23",
                        "ratingFrequencies": {
                            "2": "416",
                            "3": "9",
                            "4": "408",
                            "5": "25",
                            "6": "478",
                            "7": "21",
                            "8": "972",
                            "9": "30",
                            "10": "1245",
                            "11": "52",
                            "12": "2272",
                            "13": "122",
                            "14": "4091",
                            "15": "139",
                            "16": "2479",
                            "17": "94",
                            "18": "1195",
                            "19": "20",
                            "20": "1866"
                        },
                        "userCount": 29063,
                        "favoritesCount": 135,
                        "startDate": "2015-10-03",
                        "endDate": "2015-12-19",
                        "nextRelease": null,
                        "popularityRank": 346,
                        "ratingRank": 5198,
                        "ageRating": "PG",
                        "ageRatingGuide": "Teens 13 or older",
                        "subtype": "TV",
                        "status": "finished",
                        "tba": null,
                        "posterImage": {
                            "tiny": "https://media.kitsu.io/anime/poster_images/10857/tiny.jpg?1597698478",
                            "small": "https://media.kitsu.io/anime/poster_images/10857/small.jpg?1597698478",
                            "medium": "https://media.kitsu.io/anime/poster_images/10857/medium.jpg?1597698478",
                            "large": "https://media.kitsu.io/anime/poster_images/10857/large.jpg?1597698478",
                            "original": "https://media.kitsu.io/anime/poster_images/10857/original.png?1597698478",
                            "meta": {
                                "dimensions": {
                                    "tiny": {
                                        "width": 110,
                                        "height": 156
                                    },
                                    "small": {
                                        "width": 284,
                                        "height": 402
                                    },
                                    "medium": {
                                        "width": 390,
                                        "height": 554
                                    },
                                    "large": {
                                        "width": 550,
                                        "height": 780
                                    }
                                }
                            }
                        },
                        "coverImage": {
                            "tiny": "https://media.kitsu.io/anime/cover_images/10857/tiny.jpg?1597701233",
                            "small": "https://media.kitsu.io/anime/cover_images/10857/small.jpg?1597701233",
                            "large": "https://media.kitsu.io/anime/cover_images/10857/large.jpg?1597701233",
                            "original": "https://media.kitsu.io/anime/cover_images/10857/original.jpg?1597701233",
                            "meta": {
                                "dimensions": {
                                    "tiny": {
                                        "width": 840,
                                        "height": 200
                                    },
                                    "small": {
                                        "width": 1680,
                                        "height": 400
                                    },
                                    "large": {
                                        "width": 3360,
                                        "height": 800
                                    }
                                }
                            }
                        },
                        "episodeCount": 12,
                        "episodeLength": 23,
                        "totalLength": 276,
                        "youtubeVideoId": "qevN31yJemQ",
                        "showType": "TV",
                        "nsfw": false
                    },
                    "relationships": {
                        "genres": {
                            "links": {
                                "self": "https://kitsu.io/api/edge/anime/10857/relationships/genres",
                                "related": "https://kitsu.io/api/edge/anime/10857/genres"
                            }
                        },
                        "categories": {
                            "links": {
                                "self": "https://kitsu.io/api/edge/anime/10857/relationships/categories",
                                "related": "https://kitsu.io/api/edge/anime/10857/categories"
                            }
                        },
                        "castings": {
                            "links": {
                                "self": "https://kitsu.io/api/edge/anime/10857/relationships/castings",
                                "related": "https://kitsu.io/api/edge/anime/10857/castings"
                            }
                        },
                        "installments": {
                            "links": {
                                "self": "https://kitsu.io/api/edge/anime/10857/relationships/installments",
                                "related": "https://kitsu.io/api/edge/anime/10857/installments"
                            }
                        },
                        "mappings": {
                            "links": {
                                "self": "https://kitsu.io/api/edge/anime/10857/relationships/mappings",
                                "related": "https://kitsu.io/api/edge/anime/10857/mappings"
                            },
                            "data": [
                                {
                                    "type": "mappings",
                                    "id": "54898"
                                },
                                {
                                    "type": "mappings",
                                    "id": "255061"
                                },
                                {
                                    "type": "mappings",
                                    "id": "88642"
                                },
                                {
                                    "type": "mappings",
                                    "id": "835"
                                },
                                {
                                    "type": "mappings",
                                    "id": "90472"
                                },
                                {
                                    "type": "mappings",
                                    "id": "88643"
                                }
                            ]
                        },
                        "reviews": {
                            "links": {
                                "self": "https://kitsu.io/api/edge/anime/10857/relationships/reviews",
                                "related": "https://kitsu.io/api/edge/anime/10857/reviews"
                            }
                        },
                        "mediaRelationships": {
                            "links": {
                                "self": "https://kitsu.io/api/edge/anime/10857/relationships/media-relationships",
                                "related": "https://kitsu.io/api/edge/anime/10857/media-relationships"
                            }
                        },
                        "characters": {
                            "links": {
                                "self": "https://kitsu.io/api/edge/anime/10857/relationships/characters",
                                "related": "https://kitsu.io/api/edge/anime/10857/characters"
                            }
                        },
                        "staff": {
                            "links": {
                                "self": "https://kitsu.io/api/edge/anime/10857/relationships/staff",
                                "related": "https://kitsu.io/api/edge/anime/10857/staff"
                            }
                        },
                        "productions": {
                            "links": {
                                "self": "https://kitsu.io/api/edge/anime/10857/relationships/productions",
                                "related": "https://kitsu.io/api/edge/anime/10857/productions"
                            }
                        },
                        "quotes": {
                            "links": {
                                "self": "https://kitsu.io/api/edge/anime/10857/relationships/quotes",
                                "related": "https://kitsu.io/api/edge/anime/10857/quotes"
                            }
                        },
                        "episodes": {
                            "links": {
                                "self": "https://kitsu.io/api/edge/anime/10857/relationships/episodes",
                                "related": "https://kitsu.io/api/edge/anime/10857/episodes"
                            }
                        },
                        "streamingLinks": {
                            "links": {
                                "self": "https://kitsu.io/api/edge/anime/10857/relationships/streaming-links",
                                "related": "https://kitsu.io/api/edge/anime/10857/streaming-links"
                            }
                        },
                        "animeProductions": {
                            "links": {
                                "self": "https://kitsu.io/api/edge/anime/10857/relationships/anime-productions",
                                "related": "https://kitsu.io/api/edge/anime/10857/anime-productions"
                            }
                        },
                        "animeCharacters": {
                            "links": {
                                "self": "https://kitsu.io/api/edge/anime/10857/relationships/anime-characters",
                                "related": "https://kitsu.io/api/edge/anime/10857/anime-characters"
                            }
                        },
                        "animeStaff": {
                            "links": {
                                "self": "https://kitsu.io/api/edge/anime/10857/relationships/anime-staff",
                                "related": "https://kitsu.io/api/edge/anime/10857/anime-staff"
                            }
                        }
                    }
                },
                {
                    "id": "11421",
                    "type": "anime",
                    "links": {
                        "self": "https[...]
    {
        "scope": "https://kitsu.io:443",
        "method": "GET",
        "path": "/api/edge/anime/10857?include=genres,episodes,streamingLinks",
        "body": "",
        "status": 200,
        "response": {
            "data": {
                "id": "10857",
                "type": "anime",
                "links": {
                    "self": "https://kitsu.io/api/edge/anime/10857"
                },
                "attributes": {
                    "createdAt": "2015-04-06T20:19:[...]
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/anime?q=the%20asterisk%20war%20the%20academy%20city%20on%20the%20water&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 412,
        "response": {
            "error": "client_id_failed",
            "message": "Total Requests Limit Exceeded"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=UTF-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/tv?q=the%20asterisk%20war%20the%20academy%20city%20on%20the%20water&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 412,
        "response": {
            "error": "client_id_failed",
            "message": "Total Requests Limit Exceeded"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=UTF-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/movie?q=the%20asterisk%20war%20the%20academy%20city%20on%20the%20water&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 412,
        "response": {
            "error": "client_id_failed",
            "message": "Total Requests Limit Exceeded"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=UTF-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/anime?q=The%20Asterisk%20War:%20The%20Academy%20City%20on%20the%20Water&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 412,
        "response": {
            "error": "client_id_failed",
            "message": "Total Requests Limit Exceeded"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=UTF-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/tv?q=The%20Asterisk%20War:%20The%20Academy%20City%20on%20the%20Water&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 412,
        "response": {
            "error": "client_id_failed",
            "message": "Total Requests Limit Exceeded"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=UTF-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/movie?q=The%20Asterisk%20War:%20The%20Academy%20City%20on%20the%20Water&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 412,
        "response": {
            "error": "client_id_failed",
            "message": "Total Requests Limit Exceeded"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=UTF-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/anime?q=The%20Asterisk%20War&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 412,
        "response": {
            "error": "client_id_failed",
            "message": "Total Requests Limit Exceeded"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=UTF-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/tv?q=The%20Asterisk%20War&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 412,
        "response": {
            "error": "client_id_failed",
            "message": "Total Requests Limit Exceeded"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=UTF-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/movie?q=The%20Asterisk%20War&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 412,
        "response": {
            "error": "client_id_failed",
            "message": "Total Requests Limit Exceeded"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=UTF-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/anime?q=the-asterisk-war-the-academy-city-on-the-water&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 412,
        "response": {
            "error": "client_id_failed",
            "message": "Total Requests Limit Exceeded"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=UTF-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/tv?q=the-asterisk-war-the-academy-city-on-the-water&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 412,
        "response": {
            "error": "client_id_failed",
            "message": "Total Requests Limit Exceeded"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=UTF-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/movie?q=the-asterisk-war-the-academy-city-on-the-water&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 412,
        "response": {
            "error": "client_id_failed",
            "message": "Total Requests Limit Exceeded"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=UTF-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/anime?q=gakusen-toshi-asterisk&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 412,
        "response": {
            "error": "client_id_failed",
            "message": "Total Requests Limit Exceeded"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=UTF-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/tv?q=gakusen-toshi-asterisk&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 412,
        "response": {
            "error": "client_id_failed",
            "message": "Total Requests Limit Exceeded"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=UTF-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/movie?q=gakusen-toshi-asterisk&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 412,
        "response": {
            "error": "client_id_failed",
            "message": "Total Requests Limit Exceeded"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=UTF-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.simkl.com:443",
        "method": "GET",
        "path": "/search/anime?q=Gakusen%20Toshi%20Asterisk&page=1&limit=50&extended=full&client_id=9fda12e10ec09721e9231e5323b150a77d4d095eb009097f452aafd76c3bd3d9",
        "body": "",
        "status": 412,
        "response": {
            "error": "client_id_failed",
            "message": "Total Requests Limit Exceeded"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=UTF-8"
        ],
        "responseIsBinary": false
    }
]